.titre{
    color: red;
}

.bg-gold{
    background-color: rgb(237 191 191);
}

.bg-gray-total{
    background-color: rgb(241, 241, 241);
}

.btn-color {
    background-color: aqua;
    color: #000;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-color:hover {
    background-color: #00e6e6;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
